.card{
    background-color: blue;
   width: 60%;
   padding: 10px;
   color: white;

}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: orange;
    color: white;
    padding-inline: 20px;
}